*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-white;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font: $font-normal 13px/1.5 $font-family;
  font-weight: normal;
  font-style: normal;
  color: $font-color_dark;
}

a {
  transition: color, .2s;
  
  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}
