.header {
  @extend .layout-padding;
  background-color: $color-gray-20;
  margin-bottom: 20px;
}

.header__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}